* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f3f5fc;
}

.logo {
    margin: 2.5em 0 0 2.5em;
    display: flex;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.mensagem {
    width: 100%;
    margin-bottom: 1.6rem;
}

.mensagem-criptografada{
    display: flex;
    width: 28%;
    height: auto;
    background-color: #ffff;
    border-radius: 32px;
    margin: 35px auto;
    align-items: center;
    overflow-y: auto;
    flex-wrap: wrap;
}

.mensagem textarea {
    display: flex;
    background-color: #f3f5fc;
    width: 80%;
    height: 420px;
    text-align: left;
    color: #0A3871;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.62rem;
    border: none;
    margin: 100px 0 60px 120px;
    outline: none;
    cursor: pointer;
}

.instrucao {
    display: flex;
    color: #495057;
    font-size: 12px;
    gap: 6px;
    line-height: 18px;
    margin-left: 170px;
}

.botoes {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    gap: 24px;
}

.botaocripto {
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #0A3871;
    color: #ffff;
    font-size: 16px;
}
.botaodescripto {
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    color: #0a3871;
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    font-size: 16px;
}

.mulherimg {
    width: 336px;
    height: 304px;
    margin: 50px 0 0 1.87rem;
}

.nenhumaM {
    font-weight: 700;
    color: #343A40;
    font-size: 2rem;
    line-height: 28.8px;
    text-align: center;
    justify-content: center;
    margin-left: 35px;
    margin-top: 35px;
}

.segundaM {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
    margin-top: 1.25rem;
    justify-content: center;
}

.botaoColar {
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    color: #0a3871;
    background-color: #ffff;
    border: 1px solid #0a3871;
    font-size: 1rem;
    justify-content: center;
    margin-left: 50px;
}

footer {
    background-color: #0A3871;
    display: block;
    height: 2.5rem;
    text-align: center;
    margin-top: 5rem;
}

footer p {
    padding: 0.62rem;
    color: #f3f5fc;
    font-weight: 400;
    font-size: 0.93rem;
}

.textoCopia {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #495057;
    padding: 30px 40px 20px 30px;
    overflow-wrap: anywhere;
}
