@media only screen and (min-width: 0) and (max-width: 768px) {

    .principal {
        width: 100%;
    }

   .mulherimg {
     display: none;
   }

   main {
    display: block;
    width: 100%;
   }

   .mensagem-criptografada {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px auto 5px auto;
    height: auto;
    width: 80%;
    padding: 40px;
   }

   .botoes {
     padding: 2.5vw 10vw;
     flex-direction: column;
     align-items: center;
   }

   .nenhumaM {
    margin: 0 0 0 0;
   }

   .segundaM {
    margin: 0.8rem 0 0 0;
   }

   footer {
    margin-top: 6.5rem;
   }

   .instrucao {
    margin: 0 100px 0 0;
    justify-content: center;
    }

    .mensagem textarea {
      margin: 40px 200px 0 60px;
      font-size: 1.8rem;
      height: 300px;
     }

     .botaoColar {
      margin-left: 0;
     }

}

@media only screen and (min-width: 769px) and (max-width: 1430px) {

    .principal {
        width: 100%;
    }

    .instrucao {
        margin: 0 0 0 0;
        justify-content: center;
    }

    .mensagem-criptografada img {
        display: none;
      }
      
    .mensagem-criptografada {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 70px auto 5px auto;
        height: auto;
        width: 80%;
        padding: 40px;
     }

     .mensagem-criptografada .nenhumaM {
        margin: 0 0 1px 0;
     }

     footer {
            margin-top: 2rem;
     }

     .mensagem textarea {
      margin: 40px 200px 0 60px;
      font-size: 1.8rem;
      height: 500px;
    }

    .botaoColar {
      margin-left: 0;
     }

}